<% if @user.errors.any? %>
  The form contrains <%= pluralize(@user.errors.count, "error") %>.
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
