<% if post.errors.any? %>
  The form contains <%= pluralize(post.errors.count, "error") %>.
  <ul>
    <% post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
