<main id="content">
  <ol id="links-list">
    <%= @posts.each do |post| %>
      <li>
        <span class="posts-list">
          <%= link_to link.title, link.url %>
        </span>
      </li>
    <%= end %>
  </ol>
</main>
